{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<h3>Purchase Orders List</h3>
				<hr>
				{% for order in orders %}
				<a href="{% url 'order_detail' order.id %}">
					<div>
						<h2>Order: {{ order.id }}</h2>
						<p>Date: {{ order.date_ordered }}</p>
						<p>Customer: {{ order.customer }}</p>
						<p>Total Amount: {{ order.total_amount }}</p>
						<p>Status: {{ order.status }}</p>
					</div>
				</a>
				<hr>
				{% endfor %}				
		</div>
	</div>

{% endblock content %}