{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% if user.is_staff %}
<style>
  body {
	background-color: #008080; /* Change this to your preferred color */
  }
</style>
{% endif %}
     <div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<h2>{% trans 'Purchase Orders List' %}</h2>
				<br>
				<form method="get">
					<select name="status">
						<option value="">{% trans 'All' %}</option>
						<option value="pending">{% trans 'Pending' %}</option>
						<option value="hold">{% trans 'Hold' %}</option>
						<option value="shipped">{% trans 'Shipped' %}</option>
						<option value="cancelled">{% trans 'Cancelled' %}</option>
						<!-- Add more options as needed -->
					</select>
					<input type="submit" value="{% trans 'Filter' %}">
				</form>
				<div class="cart-row">
					<div style="flex:0.1"><strong></strong></div>
					<div style="flex:1.1"><strong>{% trans 'Order ID' %}</strong></div>
					<div style="flex:2"><strong>{% trans 'Date' %}</strong></div>
					<div style="flex:1"><strong>{% trans 'Customer' %}</strong></div>
					<div style="flex:1"><strong>{% trans 'Total Amount' %}</strong></div>
					<div style="flex:1"><strong>{% trans 'Status' %}</strong></div>
					<div style="flex:1"><strong>{% trans 'Action' %}</strong></div>
				</div>
				{% for order in orders %}
				<div class="cart-row">
					<div style="flex:0.1"></div>
					<a href="{% url 'order_detail' order.id %}">
					<div style="flex:2">{{order.id}}</div></a>
					<div style="flex:1"></div>
					<div style="flex:2">{{order.date_ordered}}</div>
					<div style="flex:1">{{order.customer}}</div>
					<div style="flex:1">${{order.total_amount}}</div>
					<div style="flex:1">{{order.status}}</div>
					<div style="flex:1">
					{% if request.user.is_staff %}
					<form action="{% url 'order_hold' order.id %}" method="post" onsubmit="disableButton()">
						{% csrf_token %}
						<input type="submit" id="shipButton" value="{% trans 'Mark as Hold' %}">
					</form>
					<form action="{% url 'order_ship' order.id %}" method="post" onsubmit="disableButton()">
						{% csrf_token %}
						<input type="submit" id="shipButton" value="{% trans 'Mark as Shipped' %}">
					</form>
					{% else %}
						<form action="{% url 'order_cancel' order.id %}" method="post">
							{% csrf_token %}
							<input type="submit" value="{% trans 'Cancel Order' %}">
						</form>
					{% endif %}		
					</div>
				</div>
				{% endfor %}			
		</div>
	</div>

<script>
	function disableButton() {
		document.getElementById("shipButton").disabled = true;
	}
</script>



{% endblock content %}