{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<style>
  body {
	background-color: #008080; /* Change this to your preferred color */
  }
</style>
{% endif %}
     <div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<h2>Purchase Orders List</h2>
				<br>
				<form method="get">
					<select name="status">
						<option value="">All</option>
						<option value="pending">Pending</option>
						<option value="hold">Hold</option>
						<option value="shipped">Shipped</option>
						<option value="cancelled">Cancelled</option>
						<!-- Add more options as needed -->
					</select>
					<input type="submit" value="Filter">
				</form>
				<div class="cart-row">
					<div style="flex:0.1"><strong></strong></div>
					<div style="flex:1.1"><strong>Order ID</strong></div>
					<div style="flex:2"><strong>Date</strong></div>
					<div style="flex:1"><strong>Customer</strong></div>
					<div style="flex:1"><strong>Total Amount</strong></div>
					<div style="flex:1"><strong>Status</strong></div>
					<div style="flex:1"><strong>Action</strong></div>
				</div>
				{% for order in orders %}
				<div class="cart-row">
					<div style="flex:0.1"></div>
					<a href="{% url 'order_detail' order.id %}">
					<div style="flex:2">{{order.id}}</div></a>
					<div style="flex:1"></div>
					<div style="flex:2">{{order.date_ordered}}</div>
					<div style="flex:1">{{order.customer}}</div>
					<div style="flex:1">${{order.total_amount}}</div>
					<div style="flex:1">{{order.status}}</div>
					<div style="flex:1">
					{% if request.user.is_staff %}
					<form action="{% url 'order_hold' order.id %}" method="post" onsubmit="disableButton()">
						{% csrf_token %}
						<input type="submit" id="shipButton" value="Mark as Hold">
					</form>
					<form action="{% url 'order_ship' order.id %}" method="post" onsubmit="disableButton()">
						{% csrf_token %}
						<input type="submit" id="shipButton" value="Mark as Shipped">
					</form>
					{% else %}
						<form action="{% url 'order_cancel' order.id %}" method="post">
							{% csrf_token %}
							<input type="submit" value="Cancel Order">
						</form>
					{% endif %}		
					</div>
				</div>
				{% endfor %}			
		</div>
	</div>

<script>
	function disableButton() {
		document.getElementById("shipButton").disabled = true;
	}
</script>



{% endblock content %}