{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br/>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-5">
            <img class="img-fluid rounded-start" id="coverImage" src="{{product.cover_image.url}}">
            <div class="row-md-5">
                <button type="button" onclick="change_image('{{product.cover_image.url}}')">
                    <img class="img-fluid rounded-start" id="coverImage1" width=100px height=200px src="{{product.cover_image.url}}">
                </button>
                {% for images in image %}
                <button type="button" onclick="change_image('{{images.image.url}}')">
                <img class="img-fluid rounded-start" id="productImage" width=100px height=200px src="{{images.image.url}}">
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h4><strong>{{product.name}}</strong></h4>
                <h4 style="display: inline-block"><strong>
                    ${{product.price|floatformat:2}}</strong></h4>
                <br>
                <p>{% trans 'Brand: ' %}{{product.brand}}</p>
                <p>{% trans 'Connectivity Technology: ' %}{{product.connectivity_technology}}</p>
                <p>{% trans 'Description: ' %}{{product.description}}</p>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">{% trans 'Add to Cart' %}</button>
            </div>
        </div>
</div>
<br>

<div class="card mb-3">
    <h3 style="color: Teal;"><strong>{% trans 'Product recommendations:' %}</strong></h3>
    <div class="row">
        {% for products in products %}
        {% if products.id != product.id %}
        <div class="col-lg-3">
            <img class="thumbnail" src="{{products.cover_image.url}}">
            <div class="box-element product">
                <h5><strong>{{products.name}}</strong></h5>
                <hr>
                <a class="btn btn-outline-success" href="{% url 'product' products.id %}">{% trans 'View' %}</a>
                <h4 style="display: inline-block; float: right"><strong>
                ${{products.price|floatformat:2}}</strong></h4>

            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

<script>
    function change_image(x) {
        coverImage.src = x
    }
</script>
{% endblock content %}
