{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<br/>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-5">
            <img class="img-fluid rounded-start" id="productImage" src="{{products.image.url}}">

            <div class=" row-col-2 g-2">
                <button onclick="previousImage()">Previous image</button>
                <button onclick="nextImage()">Next image</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h6><strong>{{products.name}}</strong></h6>
                <h4 style="display: inline-block"><strong>
                    ${{products.price|floatformat:2}}</strong></h4>
                <br>
                <p>Description: {{products.description}}</p>
                <p>Size: {{products.size}}</p>
                <p>Weight: {{products.weight}}</p>
                <button data-product="{{products.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            </div>
        </div>
</div>

    <script>
    var images = ["{{products.image.url}}", "{{products.image2.url}}", "{{products.image3.url}}"];  // replace with your actual image URLs
    var currentImageIndex = 0;
    
    function previousImage() {
        if (currentImageIndex > 0) {
            currentImageIndex--;
        } else {
            currentImageIndex = images.length - 1;  // wrap around to the last image
        }
        document.getElementById("productImage").src = images[currentImageIndex];
    }
    
    function nextImage() {
        if (currentImageIndex < images.length - 1) {
            currentImageIndex++;
        } else {
            currentImageIndex = 0;  // wrap around to the first image
        }
        document.getElementById("productImage").src = images[currentImageIndex];
    }
    </script>

{% endblock content %}
