<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Admin Dashboard' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080;">
		<a class="navbar-brand" href="{% url 'adminDashboard' %}">{% trans 'Administration Side' %}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<a style="margin-left: 8px; color: #008080">|</a>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'store' %}">{% trans 'Back to store' %}</a>
				</li>
				<a style="margin-left: 16px; color: #008080">|</a>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'order_list' %}">{% trans 'Purchase orders' %}</a>
				</li>
				<a style="margin-left: 16px; color: #008080">|</a>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'adminDashboard' %}">{% trans 'Admin Dashboard' %}</a>
				</li>
			</ul>
		</div>
        
	    <div class="form-inline my-2 my-lg-0">

			{% if user.is_authenticated %}
				<a style="margin-right: 16px; color: white">{% trans 'Hi' %} {{ user.username }}! </a>
				<form action="{% url 'logout' %}" method="post">
					{% csrf_token %} 
					<button class="btn btn-warning" type="submit">{% trans 'Logout' %}</button>
				</form>
			{% else %}
				<a style="margin-right: 16px; color: white">{% trans 'You are not logged in.' %} </a>
	     		<a href="{% url 'login' %}" class="btn btn-warning">{% trans 'Login' %}</a>
	     	{% endif %}
	    </div>
	</nav>
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element">
                <h1>{% trans 'Admin Dashboard' %}</h1>
                <nav class="navbar navbar-light bg-light justify-content-">
                    <form class="form-inline">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
                    </form>
                </nav>
                <table>
                    <tr>
                        <hr>
                        <th>{% trans 'ID' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Price' %}</th>
                        <th>{% trans 'Active' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td><a aria-current="page" href="{% url 'product_edit' product.id%}">{{ product.name }}</a></td>
                        <td>${{ product.price }}</td>
                        <td>{{ product.is_active }}</td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit" name="action" value="delete">{% trans 'Delete' %}</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <h1>{% trans 'Add Product' %}</h1>
                <hr>
                <table>
                    <tr>
                        <td>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">{% trans 'Add Product' %}</button>
                            </form>
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
</body>
</html>